<html>
    <head>
        <title>Timings</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    </head>
    <body>
        <div class="wrapper" style="height:400px; width: 400px;">
            <canvas id="myChart" width="100" height="100"></canvas>
        </div>

        <script>
            const ctx = document.getElementById('myChart');
            ctx.height = 200;
const myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
    labels: [
      'Start - Mark 1',
      'Mark 1 - Mark 2',
      'Mark 2 - End'
    ],
      datasets: [{
        label: 'Total: 6.2s',
        data: [2, 1, 3.2],
        backgroundColor: [
          'rgb(255, 99, 132)',
          'rgb(54, 162, 235)',
          'rgb(255, 205, 86)'
        ],
      }]
},
options: {
  responsive: true,
}
});
        </script>
    </body>
</html>
